<!doctype html>

<html lang="en">

<head>

    <!-- Basic -->
    <title>RMart | Home</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Page Description and Author -->
    <meta name="description" content="Margo - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">

    <!-- angular js scripts-->

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@





    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/Content/Bootstrap/asset/css/bootstrap.min.css" type="text/css" media="screen">
    @*<link href="@Url.Content("~/Content/Bootstrap/asset/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Content/Bootstrap/css/font-awesome.min.css" type="text/css" media="screen">
    @*<link href="@Url.Content("~/Content/Bootstrap/asset/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />*@
    <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/style.css" media="screen">
    @*<link href ="@Url.Content("~/Content/Bootstrap/css/style.css")" rel="stylesheet" type="text/css" />*@

    <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/responsive.css" media="screen">

    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/animate.css" media="screen">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/red.css" title="red" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/jade.css" title="jade" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/green.css" title="green" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/blue.css" title="blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/beige.css" title="beige" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/cyan.css" title="cyan" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/orange.css" title="orange" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/peach.css" title="peach" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/pink.css" title="pink" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/purple.css" title="purple" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/sky-blue.css" title="sky-blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/yellow.css" title="yellow" media="screen" />


    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/modernizrr.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/count-to.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/mediaelement-and-player.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/script.js"></script>

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->







</head>

<body>

    <!-- Full Body Container -->
    <div id="container" class="boxed-page">


        <!-- Start Header Section -->
        <div class="hidden-header"></div>
        <header class="clearfix">

            <!-- Start Top Bar -->
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- Start Contact Info -->
                            <ul class="contact-details">
                                <li>
                                    <a href="#"><i class="fa fa-map-marker"></i>204, 2nd Floor, Puneet Vrindavan Tower, Sanjay Place, Agra-2</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope-o"></i> info@recentmart.in</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-phone"></i> 9897496428</a>
                                </li>
                            </ul>
                            <!-- End Contact Info -->
                        </div><!-- .col-md-6 -->
                        <div class="col-md-5">
                            <!-- Start Social Links -->
                            <ul class="social-list">
                                <li>
                                    <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>

                            </ul>
                            <!-- End Social Links -->
                        </div><!-- .col-md-6 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .top-bar -->
            <!-- End Top Bar -->
            <!-- Start  Logo & Naviagtion  -->
            <div class="navbar navbar-default navbar-top">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Stat Toggle Nav Link For Mobiles -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- End Toggle Nav Link For Mobiles -->
                        <a class="navbar-brand" href="/Home/Index" style="padding-top: 27px; padding-bottom: 100px;">
                            <img alt="" src="~/Content/Bootstrap/images/logo.png" style="height:50px">
                        </a>
                       
                    </div>
                    <div class="navbar-collapse collapse">
                        <!-- Stat Search -->
                        <div class="search-side">
                            <a href="#" class="show-search"><i class="fa fa-search"></i></a>
                            <div class="search-form">
                                <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                                    <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                                </form>
                            </div>
                        </div>
                        <!-- End Search -->
                        <!-- Start Navigation List -->
                        @Html.Partial("_PublicNavigationPartial")
                        <!-- End Navigation List -->
                    </div>
                </div>
            </div>
            <!-- End Header Logo & Naviagtion -->

        </header>
        <!-- End Header Section -->
        @RenderBody()

        <!-- Start Products Part -->
        <div id="content">
            <div class="container">
                <div class="page-content">


                    <!--Start Recent Projects-->
                    <div class="recent-projects">
                        <h4 class="title"><span>Products</span></h4>
                        <div class="projects-carousel touch-carousel">

                            <!-- Start Project Item -->
                            <div class="portfolio-item item">
                                <div class="portfolio-border">
                                    <!-- Start Project Thumb -->
                                    <div class="portfolio-thumb">
                                        <a class="lightbox" title="N.J.G." href="~/Content/Store/images/HealthItem/1.jpg">

                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img alt="" src="~/Content/Store/images/HealthItem/H1.jpg " />



                                        </a>
                                    </div>
                                    <!-- End Project Thumb -->
                                    <!-- Start Project Details -->
                                    <div class="portfolio-details">
                                        <a href="/Products/Productpage">
                                            <h4>N.J.G.</h4>
                                            <span>Logo</span>
                                            <span>Animation</span>
                                        </a>
                                        <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                                    </div>
                                    <!-- End Project Details -->
                                </div>
                            </div>
                            <!-- End Project Item -->
                            <!-- Start Project Item -->
                            <div class="portfolio-item item">
                                <div class="portfolio-border">
                                    <!-- Start Project Thumb -->
                                    <div class="portfolio-thumb">
                                        <a class="lightbox" title="Cholesterol Guard" href="~/Content/Store/images/HealthItem/2.jpg">
                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img alt="" src="~/Content/Store/images/HealthItem/H2.jpg" />
                                        </a>
                                    </div>
                                    <!-- End Project Thumb -->
                                    <!-- Start Project Details -->
                                    <div class="portfolio-details">
                                        <a href="/Products/Productpage">
                                            <h4>Cholesterol Guard </h4>
                                            <span>Logo</span>
                                            <span>Animation</span>
                                        </a>
                                        <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                                    </div>
                                    <!-- End Project Details -->
                                </div>
                            </div>
                            <!-- End Project Item -->
                            <!-- Start Project Item -->

                            <div class="portfolio-item item">
                                <div class="portfolio-border">
                                    <!-- Start Project Thumb -->
                                    <div class="portfolio-thumb">
                                        <a class="lightbox" title="Weight Guard" href="~/Content/Store/images/HealthItem/3.jpg">
                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img alt="" src="~/Content/Store/images/HealthItem/H3.jpg" />
                                        </a>
                                    </div>
                                    <!-- End Project Thumb -->
                                    <!-- Start Project Details -->
                                    <div class="portfolio-details">
                                        <a href="/Products/Productpage">
                                            <h4>Weight Guard  </h4>
                                            <span>Logo</span>
                                            <span>Animation</span>
                                        </a>
                                        <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                                    </div>
                                    <!-- End Project Details -->
                                </div>
                            </div>
                            <!-- End Project Item -->
                            <!-- Start Project Item -->
                            <div class="portfolio-item item">
                                <div class="portfolio-border">
                                    <!-- Start Project Thumb -->
                                    <div class="portfolio-thumb">
                                        <a class="lightbox" title="Piles Guard" href="~/Content/Store/images/HealthItem/4.jpg">
                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img alt="" src="~/Content/Store/images/HealthItem/H4.jpg" />
                                        </a>
                                    </div>
                                    <!-- End Project Thumb -->
                                    <!-- Start Project Details -->
                                    <div class="portfolio-details">
                                        <a href="/Products/Productpage">
                                            <h4>Piles Guard</h4>
                                            <span>Logo</span>
                                            <span>Animation</span>
                                        </a>
                                        <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                                    </div>
                                    <!-- End Project Details -->
                                </div>
                            </div>
                            <!-- End Project Item -->
                            <!-- Start Project Item -->
                            <div class="portfolio-item item">
                                <div class="portfolio-border">
                                    <!-- Start Project Thumb -->
                                    <div class="portfolio-thumb">
                                        <a class="lightbox" title="Wo-Men-MC " href="~/Content/Store/images/HealthItem/5.jpg">
                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img alt="" src="~/Content/Store/images/HealthItem/H5.jpg" />
                                        </a>
                                    </div>
                                    <!-- End Project Thumb -->
                                    <!-- Start Project Details -->
                                    <div class="portfolio-details">
                                        <a href="/Products/Productpage">
                                            <h4>Wo-Men-MC </h4>
                                            <span>(Leucorrhoea Care)</span>
                                            <span>Animation</span>
                                        </a>
                                        <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>3</span></a>
                                    </div>
                                    <!-- End Project Details -->
                                </div>
                            </div>
                            <!-- End Project Item -->
                            <!-- Start Project Item -->
                            <div class="portfolio-item item">
                                <div class="portfolio-border">
                                    <!-- Start Project Thumb -->
                                    <div class="portfolio-thumb">
                                        <a class="lightbox" title="RIFAVIT-80" href="~/Content/Store/images/HealthItem/6.jpg">
                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img alt="" src="~/Content/Store/images/HealthItem/H6.jpg" />
                                        </a>
                                    </div>
                                    <!-- End Project Thumb -->
                                    <!-- Start Project Details -->
                                    <div class="portfolio-details">
                                        <a href="/Products/Productpage">
                                            <h4>RIFAVIT-80</h4>
                                            <span>Logo</span>
                                            <span>Animation</span>
                                        </a>
                                        <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                                    </div>
                                    <!-- End Project Details -->
                                </div>
                            </div>
                            <!-- End Project Item -->
                            <!-- Start Project Item -->
                            <div class="portfolio-item item">
                                <div class="portfolio-border">
                                    <!-- Start Project Thumb -->
                                    <div class="portfolio-thumb">
                                        <a class="lightbox" title="REFATTY-3" href="~/Content/Store/images/HealthItem/8.jpg">
                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img alt="" src="~/Content/Store/images/HealthItem/H8.jpg" />
                                        </a>
                                    </div>
                                    <!-- End Project Thumb -->
                                    <!-- Start Project Details -->
                                    <div class="portfolio-details">
                                        <a href="/Products/Productpage">
                                            <h4>REFATTY-3 </h4>
                                            <span>(Ultra Omega 3)</span>
                                            <span>Animation</span>
                                        </a>
                                        <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                                    </div>
                                    <!-- End Project Details -->
                                </div>
                            </div>
                            <!-- End Project Item -->
                            <!-- Start Project Item -->
                            <div class="portfolio-item item">
                                <div class="portfolio-border">
                                    <!-- Start Project Thumb -->
                                    <div class="portfolio-thumb">
                                        <a class="lightbox" title="HEAL-LIV" href="~/Content/Store/images/HealthItem/9.jpg">
                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img alt="" src="~/Content/Store/images/HealthItem/H9.jpg" />
                                        </a>
                                    </div>
                                    <!-- End Project Thumb -->
                                    <!-- Start Project Details -->
                                    <div class="portfolio-details">
                                        <a href="/Products/Productpage">
                                            <h4>HEAL-LIV </h4>
                                            <span>(Liver Care)</span>
                                            <span>Animation</span>
                                        </a>
                                        <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                                    </div>
                                    <!-- End Project Details -->
                                </div>
                            </div>
                            <!-- End Project Item -->

                        </div>
                    </div>
                    <!--End Recent Projects-->
                    <!-- Divider -->
                    <!--Start Recent Projects-->
                    <div class="recent-projects"></div>
                    <!--End Recent Projects-->


                </div>
            </div>
        </div>

        <!-- Start Footer Section -->
        @Html.Partial("_FooterPartial")
        <!-- End Footer Section -->

    </div>
    <p>
        <!-- End Full Body Container -->
    </p>
    <p>

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    </p>
    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>


