<ul class="nav navbar-nav navbar-left">
    <li>
        @Html.ActionLink("Home", "Index", "Home", null, new { target = "_self" })
    </li>

    <li>
        @Html.ActionLink("About", "About", "Home", null, new { target = "_self" })
        <ul class="dropdown">
            <li>
                @Html.ActionLink("About Recent Mart", "About", "Home", null, new { target = "_self" })
                </li>
            <li>
                @Html.ActionLink("About Group", "About", "Home", null, new { target = "_self" })
            </li>
            <li>
                @Html.ActionLink("Chairman's Message", "ChairmanMsges", "Home", null, new { target = "_self" })
            </li>
            <li>
                @Html.ActionLink("Legal", "About", "Home", null, new { target = "_self" })
            </li>
        </ul>
    </li>
    <li>
        @Html.ActionLink("Business Plan", "BusinessPlan", "Home", null, new { target = "_self" })
    </li>
    <li>
        @Html.ActionLink("Products", "Productpage", "Products", null, new { target = "_self" })
        <ul class="dropdown">
            <li>
                @Html.ActionLink("FMCG", "Productpage", "Products", null, new { target = "_self" })
            </li>
            <li>
                @Html.ActionLink("Orgenic", "Productpage", "Products", null, new { target = "_self" })
            </li>
            <li>
                @Html.ActionLink("All", "Productpage", "Products", null, new { target = "_self" })
            </li>

        </ul>
    </li>
    <li>
        @Html.ActionLink("Downloads", "Downloads", "Home", null, new { target = "_self" })
        <ul class="dropdown">
            @*<li>
                <a href="/Home/Downloads">Joining Forms</a>
            </li>
            <li>
                <a href="#">Manuals</a>
            </li>
            <li>
                <a href="#">Brocers</a>
            </li>
            <li>
                <a href="#">Videos#</a>
            </li>*@
        </ul>

    </li>
    <li>
        @Html.ActionLink("Contact Us", "Contactus", "Home", null, new { target = "_self" })
    </li>
</ul>
@Html.Partial("_LoginPartial")