<!doctype html>

<html lang="en">

<head>

    <!-- Basic -->
    <title>RMart | Home</title>

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Page Description and Author -->
    @*<meta name="description" content="Margo - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">*@

    <!-- angular js scripts-->

     <script src="~/Scripts/angular.min.js"></script>    
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@





    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/Content/Bootstrap/asset/css/bootstrap.min.css" type="text/css" media="screen">
    @*<link href="@Url.Content("~/Content/Bootstrap/asset/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Content/Bootstrap/css/font-awesome.min.css" type="text/css" media="screen">
    @*<link href="@Url.Content("~/Content/Bootstrap/asset/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />*@
    <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/style.css" media="screen">
     @*<link href ="@Url.Content("~/Content/Bootstrap/css/style.css")" rel="stylesheet" type="text/css" />*@

    <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/responsive.css" media="screen">

    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/animate.css" media="screen">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/red.css" title="red" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/jade.css" title="jade" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/green.css" title="green" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/blue.css" title="blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/beige.css" title="beige" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/cyan.css" title="cyan" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/orange.css" title="orange" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/peach.css" title="peach" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/pink.css" title="pink" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/purple.css" title="purple" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/sky-blue.css" title="sky-blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/colors/yellow.css" title="yellow" media="screen" />


    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/modernizrr.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/count-to.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/mediaelement-and-player.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/script.js"></script>

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
 
    <!-- Store Script-->

    <link  href="~/Content/Store/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="~/Content/Store/css/style.css" rel="stylesheet" type="text/css" media="all" />	

    <link rel="stylesheet" href="~/Content/Store/css/etalage.css" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="~/Content/Store/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Store/js/jquery.easydropdown.js"></script>
    <script type="text/javascript" src="~/Content/Store/js/jquery.etalage.min.js"></script>

<!--script-->






</head>

<body>

    <!-- Full Body Container -->
    <div id="container" class="boxed-page">
        
        
        <!-- Start Header Section --> 
        <div class="hidden-header"></div>
        <header class="clearfix">
            
            <!-- Start Top Bar -->
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- Start Contact Info -->
                            <ul class="contact-details">
                                <li><a href="#"><i class="fa fa-map-marker"></i> Puneet Virndavan Tower Sanjay Place Agra</a>
                                </li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i> info@recentmart.in</a>
                                </li>
                                <li><a href="#"><i class="fa fa-phone"></i> 9897496428</a>
                                </li>
                            </ul>
                            <!-- End Contact Info -->
                        </div><!-- .col-md-6 -->
                        <div class="col-md-5">
                            <!-- Start Social Links -->
                            <ul class="social-list">
                                <li>
                                    <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                               
                            </ul>
                            <!-- End Social Links -->
                        </div><!-- .col-md-6 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .top-bar -->
            <!-- End Top Bar -->
            
            
            <!-- Start  Logo & Naviagtion  -->
            <div class="navbar navbar-default navbar-top">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Stat Toggle Nav Link For Mobiles -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- End Toggle Nav Link For Mobiles -->
                        <a style="margin-top:-33px; class="navbar-brand" href="/Home/Index">
                            <img alt="" src="~/Content/Bootstrap/images/logo.png">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <!-- Stat Search -->
                        <div class="search-side">
                            <a href="#" class="show-search"><i class="fa fa-search"></i></a>
                            <div class="search-form">
                                <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                                    <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                                </form>
                            </div>
                        </div>
                        <!-- End Search -->
                        <!-- Start Navigation List -->
                        @*<ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="active" href="/Home/Index">Home</a>
                                <!--<ul class="dropdown">
                                    <li><a class="active" href="index.html">Home RMart</a>
                                    </li>
                                    <li><a href="index-01.html">Home Version 1</a>
                                    </li>
                                    <li><a href="index-02.html">Home Version 2</a>
                                    </li>
                                    <li><a href="index-03.html">Home Version 3</a>
                                    </li>
                                    <li><a href="index-04.html">Home Version 4</a>
                                    </li>
                                    <li><a href="index-05.html">Home Version 5</a>
                                    </li>
                                    <li><a href="index-06.html">Home Version 6</a>
                                    </li>
                                    <li><a href="index-07.html">Home Version 7</a>
                                    </li>
                                </ul>-->
                            </li>
                           <li>
                                <a href="/Home/about">About</a>
                                <ul class="dropdown">
                                    <li><a href="/Home/about">About Recent Mart</a>
                                    </li>
                                    <li><a href="#">About Group</a>
                                    </li>
                                    <li><a href="/Home/ChairmanMsg">Chairman's Message</a>
                                    </li>
                                    <li><a href="#">Legal</a>
                                    </li>
                                    
                                </ul>



                           </li>
                            <li>
                                <a href="/Home/BusinessPlan">Business Plan</a>
                                <!--<ul class="dropdown">
                                    <li><a href="tabs.html">Tabs</a>
                                    </li>
                                    <li><a href="buttons.html">Buttons</a>
                                    </li>
                                    <li><a href="action-box.html">Action Box</a>
                                    </li>
                                    <li><a href="testimonials.html">Testimonials</a>
                                    </li>
                                    <li><a href="latest-posts.html">Latest Posts</a>
                                    </li>
                                    <li><a href="latest-projects.html">Latest Projects</a>
                                    </li>
                                    <li><a href="pricing.html">Pricing Tables</a>
                                    </li>
                                    <li><a href="animated-graphs.html">Animated Graphs</a>
                                    </li>
                                    <li><a href="accordion-toggles.html">Accordion & Toggles</a>
                                    </li>
                                </ul>-->
                               </li>
                            <li>
                                <a href="/Products/Productpage">Products</a>
                                <ul class="dropdown">
                                    <li><a href="/Products/Productpage">FMCG</a>
                                    </li>
                                    <li><a href="/Products/Productpage">Orgenic</a>
                                    </li>
                                    <li><a href="/Products/Productpage">All</a>
                                    </li>
                                   
                                </ul>
                            </li>
                            <li><a href="#">Login</a>
                          </li>
                            <li>
                                <a href="/Contactus/Index">Contect Us</a>
                                
                          </li>
                            
                        </ul>*@
                         @Html.Partial("_PublicNavigationPartial")
                        <!-- End Navigation List -->
                    </div>
                </div>
            </div>
            <!-- End Header Logo & Naviagtion -->
            
        </header> 
        <!-- End Header Section -->


        @RenderBody()



     <!-- Start Footer Section -->
       
        @Html.Partial("_FooterPartial")
    
    
        <!-- End Footer Section -->
        
        
    </div>
    <p>
      <!-- End Full Body Container -->
    </p>
    <p>
      
      <!-- Go To Top Link -->
      <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
      
    </p>
    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

  
</body>

</html>


